---

- name: Init zsh
  shell: touch /home/{{ user }}/.zshrc

- name: Get zsh path
  command: which zsh 
  register: zsh_path

- name: Switch to zsh
  user: name={{ user }} shell={{ zsh_path.stdout }}

- name: Install oh-my-zsh
  shell: "curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh | sh"
  become_user: "{{ user }}"
  args:
    creates: "/home/{{ user }}/.oh-my-zsh"

- name: randomize zsh theme
  shell: sed -i 's/robbyrussell/random/g' ~/.zshrc
  become_user: "{{ user }}"
